@import url("/css/iosevka-ss08-2.1.0/webfont.css");
@import url("/css/neue-haas-grotesk/style.css");
@import url("/css/playfair/webfont.css");
@import url("/css/editorial_new/stylesheet.css");
@import url("/css/anonymous_pro/webfont.css");
@import url("/css/color.css");
@import url("/css/univers/style.css");
@import url("/css/sf_pro/style.css");
@import url("tachyons.min.css");



:root {
    --font-content: Arial;
    --font-nav: 'Editorial New';
    --font-ui: var(--font-content);
    --font-mono: monospace;
    --border-radius: 4px;
    --font-small: 0.875em;
    --font-smaller: 0.8em;
    --font-nav-size: 1.5em;
    --wrap-wide: 1000px;
    --wrap-normal: 50em;
    --input-width: 20em;
    --image-radius: 6px;
    --line-height: 1.5;
  
    @media (max-width: 860px) {
      --wrap-normal: 88vw;
      --wrap-wide: 100vw;
      --input-width: 100%;
      .wide {
        --border-radius: 0;
        --image-radius: 0;
      }
    }
  }

  body {
    margin: 0 auto 3em;
    width: var(--wrap-normal);
    max-width: var(--wrap-wide);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

:root {
    --riso-marine-red: rgb(210, 81, 94);
    --riso-blue: rgb(0,120,121);
    --riso-paper: rgb(255, 252, 235);

    --color-action: var(--riso-blue);
}

.clipped {
    border-radius: 0px 30px 0px 30px;
}

.f0 {
    font-size: 6rem;
}

.mw40 {
    max-width: 40em;
}

.navtf {
    font-family: "pp_editorial_newmedium";
}

.introtf {
    font-family: "pp_editorial_newitalic";
    font-style: oblique;
}

.univers {
    font-family: "Univers";
}

.sfpro {
    font-family: "SF Pro";
}

.lighttf {
    font-family: "pp_editorial_newlight";
}

.universcond {
    font-family: "Univers Condensed";
}

.anon {
    font-family: "Anonymous Regular";
}

.playfair {
    font-family: "Playfair";
}

.neue-haas {
    font-family: "Neue Haas Grotesk Text Pro Roman";
}

.strong {
    font-weight: 600;
}

.times {
    font-family: 'Times New Roman', Times, serif
}

.neue-haas-bold {
    font-family: "Neue Haas Grotesk Text Pro Bold";
}

.shadows-maybe {
    box-shadow: 6px 6px 0px 4px #FFEBB5, -5px -5px 0px 2px #9BC2D6;
}

.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }


p {
    font-size: 1.25rem;
    font-family: "SF Pro";
    line-height: 1.5;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}



.drop-caps {
    color: #AC3A1C;
    float: left;
    font-family: "Custom2020";
    font-size: 4.5em;
    float: left;
    margin-top: .3em;
    line-height: 3.6rem;
    margin-right: .3rem;
  }


a {
    color:#16516D;
    text-decoration-thickness: 1.6px;
    /* text-decoration: none; */
    /* border-bottom: #9BC2D6 0.1em solid; */
}

.dasha {
    text-decoration-style: dashed;
}


.o {
    font-style: oblique;
}



li {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    font-family: "SF Pro"
}



.list-ul {
    list-style-type: \2014;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}

.list-li {
    margin-top: 0.5rem;
    font-size: 1.25rem;
}

pre code {
    font-family: "Anonymous Regular" !important;
    font-size: 1rem;
    font-weight: 400;
    overflow: auto;
}

p code {
    font-size: 1rem;
    background-color: #9BC2D650;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 2px;
    margin-right: 2px;
    overflow: auto;
    border-radius: 2px;
    color: rgba( 42,103,133,1);
}

p code::after {
    background-color: #EEC760;
}

.paper-outline {
    position: relative;
    border: 3px solid #669AB380;
    z-index: 1;
    top: -3px;
    left: -3px;
}

.fancy-background {
	background-image: url("/images/absurdity.png");
	background-color: var(--riso-paper);
}

p.MathJax {
    font: inherit;
    font-size: 120% !important;
    background: inherit;
    border: inherit;
    color: #515151;
}

.paper-outline::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -12px;
    right: -12px;
    border: 3px solid #D25A3A80;
    min-height: 100%;
    min-width: 100%;
    z-index: -2;
}

.hl-nav,
a[rev='footnote'] {
 position:relative;
 z-index:1;
 text-decoration: none;
}

.hl-nav:hover, .active {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1.5px;
}

article {
    font-family: "SF Pro";
}

.title {
    font-family: "pp_editorial_newbold";
}

h1 {
    margin-top: 3rem;
    font-family: "SF Pro";
}

h2, h3, h4 {
    margin-top: 2rem;
    font-family: "SF Pro";
}

.player {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-color: beige;
    border-style: solid;
}


.highlight {
    font-family: "anonymous";
    background-color: #f0f3f3;
    position: relative;
    padding-left: 1rem;
    border: 3px dashed #EEC760;
    z-index: 1;
    top: -3px;
    left: -3px;

    max-width: 96rem;
    overflow: auto;
    overflow-y: hidden;
    box-shadow: 6px 6px 0px 0px  #9BC2D640;
}

.border {
    position: relative;
}


@media (max-width: 40rem) {
    p {
        font-size: 1.2rem;
        font-family: "SF Pro";
    }
    li {
        margin-top: 0.5rem;
        font-size: 1rem;
    }
    .highlight {
    }

    pre code {
        font-size: 0.8rem;
    }

    p code {
        font-size: 0.7rem;
        background-color: #9BC2D650;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: 2px;
        margin-right: 2px;
        overflow: auto;
        border-radius: 2px;
        color: rgba( 42,103,133,1);
    }
}


.sticky {
    padding: 1rem 0rem 0.5rem 1rem;
    max-width: 15rem;
    max-height: 15rem;
    font-size: 1.1rem;
    font-family: "SF Pro";
    margin-bottom: 2rem;
    position: absolute;
    right: -15%;

    background-color: rgba(255,223,139,1);
    -moz-box-shadow: 6px 6px 0px 0px  #9BC2D640;
    -webkit-box-shadow:6px 6px 0px 0px  #9BC2D640;
    box-shadow:  6px 6px 0px 0px  #9BC2D640;

}

.list2 {
    font-size: 0.9em;
}

@media (max-width: 80rem) {
    .sticky {
        padding: 1rem 0rem 0.5rem 1rem;
        background-color:rgba(255,223,139,1);
        max-width: 40%;
        max-height: unset;
        margin-bottom: 2rem !important;

        margin: 0px auto;
        margin-top: 1rem;
        position: relative;
        right: 0;

        width: unset;

        font-size: 1rem;
        font-family: "SF Pro";
        -moz-box-shadow: 6px 6px 0px 0px  #9BC2D640;
        -webkit-box-shadow:6px 6px 0px 0px  #9BC2D640;
        box-shadow:  6px 6px 0px 0px  #9BC2D640;
    }
}

@media (max-width: 40rem) {
    .sticky {
        padding: 0.5rem 0rem 0.5rem 1rem;
        background-color:rgba(255,223,139,1);
        max-width: unset;
        max-height: unset;
        margin-bottom: 2rem;
        right: unset;
        text-align: center;

        width: unset;

        font-size: 0.9rem !important;
        -moz-box-shadow: 6px 6px 0px 0px  #9BC2D640;
        -webkit-box-shadow:6px 6px 0px 0px  #9BC2D640;
        box-shadow:  6px 6px 0px 0px  #9BC2D640;

        margin-right: auto;
        margin-left: auto;
        position: relative;
    }

    p {
        text-align: justify;
    }
}



.sticky::before{
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;

    content: '';
    width: 0;
    height: 0;

    border-top: -1rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-left: 2rem solid rgb(255, 252, 235);
}

.sticky::after{
    position: absolute;
    top: 0px;
    left: 0px;

    content: '';
    width: 0;
    height: 0;

    border-bottom: 1rem solid rgba(210,168, 58,1);
    border-left: 1rem solid transparent;
}

div.highlight::-webkit-scrollbar-track {
    background-color: #EEC760;
}

div.highlight::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 6px;
    border: 3px solid black;
}

blockquote {
    border-left-style: solid;
    border-left-width: 1px;
    border-color: #669AB3;
    border-width: .25rem;
    letter-spacing: .05em;
    padding-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


blockquote p {
    font-family: "Neue Haas Grotesk Text Pro Bold";
    font-size: 3rem;
    line-height: 1.2;
}

@media (max-width: 30rem) {
    p {
        font-size: 1rem;
        font-family: "SF Pro";
    }
    li {
        margin-top: 0.5rem;
        font-size: 1rem;
    }
    .highlight {
        position: absolute;
        margin-left: -2.5rem !important;
        margin-right: -3.25rem !important;
        padding-left: 0.5rem !important;
    }
    h1 {
        font-family: "SF Pro";
    }
}