{{ define "main" }}

<div class="tc center w-80-ns w-100">
  <h2 class="f2-ns f3 grey ns2 pt3-ns pt1 mv3 mv4-ns lighttf">
    {{ .Title }}
  </h2>

  <ul class=" mh0 pb3 pb4-ns pl3 pr2">
    {{ range where $.Pages "Section" (lower .Title) }}
    <li class="list-li d db pt0">
      <div class="flex ma0 center-items">
        <div class="w-30">
          <!-- <a class="playfair" href="{{ .RelPermalink}}" > {{ .Name }}</a> -->
          <div class=" mh0 gray fr f4-ns f5" style="font-weight: lighter; text-align: right;
            display:block">{{ .Date.Month }} {{ .Date.Year }}</div>
        </div>
        <div class="w-50 ma0 ml3">
          <a class="mw8 f4-ns f5" style="text-align: left;
            display:block" href="{{ .RelPermalink}}"> {{ .Name }}</a>
        </div>
      </div>
    </li>
    {{ end }}
  </ul>
</div>

{{ end }}