<head>
    <meta charset="UTF-8">
    <title>{{ .Title }} - Moll.dev</title>
  
    <meta name="author" content="Thomas Moll">
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ site.Title }}" />
    <meta property="og:description" content="Personal website of Thomas Moll" />
    <meta property="og:type" content="article" />
  
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@tmoll_" />
    <meta name="twitter:site" content="@tmoll_" />
    <meta name="twitter:title" content="{{ .Title }}" />

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
  