<nav class="w-100 pa3-ns pa0 mb3-l mb2 ph5-ns">
    <div class="">
        <a class="mw7" href="/">
            <img class="logo" src="/images/ThomasMoll_2.svg" alt="moll.dev logo">
        </a>
    </div>
    <div class="nav-items flex justify-end items-end">
    {{ $current := . }}
    {{ range .Site.Menus.main }}
    {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
    {{ $active := in $current.RelPermalink .URL }}
        <div class="ph2 pl3-l">
            <a class="link navtf f3 f3-ns {{ if $active }}active{{ end }}
            {{ .Pre }}" href="{{ .URL }}" title="{{ .Name }}">
                {{ .Name }}
            </a>
        </div>
    {{ end }}
    </div>
</nav>