<nav class="db dt-l w-100 border-box pa3-ns pa0 mb3 ph5-l center-items">
    <a class="db dtc-l link w-50-l tc tl-l mb2 mb0-l " href="/">
              <!--db dtc-l v-mid mid-gray link w-100 w-25-l tc tl-l mb2 mb0-l -->
        <img style="position: relative; top: 5px;" src="/images/ThomasMoll_2.svg" alt="moll.dev logo">
    </a>
    <div class="db dtc-l w-50-l tc mr4-l tr-l pt3-ns pt0">
        {{ $current := . }}
        {{ range .Site.Menus.main }}
        {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
        {{ $active = or $active (eq .Name $current.Title) }}
        {{ $active := in $current.RelPermalink .URL }}
        <a style="position: relative; top: 3px;" class="link underline navtf f3 f3-ns hl-nav mt3 ml2 {{ if $active }}active{{ end }}
        {{ .Pre }}" href="{{ .URL }}" title="{{ .Name }}">
            {{ .Name }}
        </a>
        {{ end }}
    </div>
</nav>