{{ define "main" }}
<header class="dt center pa5-ns pa4">
    <h2 class="dtc-ns v-mid-ns introtf fw4-ns f1-ns f3 grey tc tl-ns mw6-ns mw5 ma3-ns ma2 center">
        Thomas Moll is a <a class="link underline dasha red-2 fw5" target="_blank" href="https://binged.it/31RXS1L">Silicon Valley</a> based, Senior <a class="link underline yellow-2 fw5 dasha " target="_blank" href="https://landing.google.com/sre/interview/ben-treynor/">Site
        Reliability Engineer</a>, currently working at <a href="https://www.linkedin.com/" target="_blank" class="link underline dasha  blue-2 fw5 hl-blue-1">LinkedIn</a>
    </h2>
    <div class="dtc-ns v-mid ph2 pr0-ns pl3-ns mw6 center mt4 mt0-ns">
        <a href="journal/rae-lakes-2021/" target="_blank">
        <img class="" src="https://cdn.moll.dev/static/images/rae/IMG_3419.JPEG" alt="High above the Sierras in the Notch leading up to Mt. Whitney" />
        </a>
    </div>
</header>


<article class="cf">

</article>

<br class="pv4">
{{ end }}